body{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h3{
    margin: 0;
    padding-top: 10px;
}

hr{
    width: 99%;
    margin-bottom: 20px;
}

/* --------Modificando Lâmpada-------- */
#lampada{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
}

/* --------Modificando Botões-------- */
#botoes-lampada{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0px;

    & button {
        width: 100px;
        padding: 5px;
        margin: 0 5px;
    }
}
